<div class="notif-card">

  <div class="notif-img">
     <%= image_tag notification.rental.clothe.photo.variant(resize: '100x100') %>
  </div>

  <div class="notif-content">


    <div class="notif-title">
      <p>Your clothe <%= notification.rental.clothe.name %> has been rented.</p>
    </div>

    <div class="notif-description">
      <p>Please contact <%= notification.rental.renter.first_name %> <%= notification.rental.renter.last_name %> at <%= notification.rental.renter.email%> and send your clothe.</p>
    </div>

     <div class="notif-date">
      <p><%= notification.created_at.to_s(:long_ordinal) %></p>
    </div>

  </div>

</div>