<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)), url('<%= image_path "banner.jpg" %>')";>
  <div class="banner-content">
    <h1>RentaClothes</h1>
    <span id="zeubi">Rent yours best</span>
    <span id="banner-typed-text"></span>
    <span id="typed"></span>
    <!-- <p>Rent yours clothes</p> -->
    <!-- <a class="btn btn-primary btn-lg">Rent yours clothes</a> -->
  </div>
</div>
<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="card-container text-center">
          <h4 id="home-h4">Our latest items</h4>
          <div class="row">
            <% @clothes.each do |clothe| %>
              <div class="col-xs-12 col-md-4">
                <%= render 'clothecard', clothe: clothe %>
              </div>
            <% end %>
          </div>
        </div>
        <br><br>
        <div class="text-center home-text">
          <%= link_to "All our items", clothes_path, class: "btn btn-primary btn-lg"%>
        </div>
      </div>
    <div class="col-xs-6" style="position: sticky; top: 70px;">
      <div
          id="map"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
        >
       </div>
    </div>
   </div>
  </div>
</div>

<footer>
  <div class='wrapper'>
    <div class='seperator padded'>
      <div class='col-1 first'>
        <h3>RentaClothe</h3>
        <ul class="list-layout">
          <li><a href="#" class="link-contrast">About</a></li>
          <li><a href="#" class="link-contrast">First experience?</a></li>
          <li><a href="#" class="link-contrast">Press</a></li>
          <li><a href="#" class="link-contrast">Blog</a></li>
          <li><a href="#" class="link-contrast">Help</a></li>
        </ul>
      </div>
      <div class='col-1'>
        <h3>Discover</h3>
        <ul class="list-layout">
          <li><a href="#" class="link-contrast">Trust &amp; Safety</a></li>
          <li><a href="#" class="link-contrast">Travel Credit</a></li>
          <li><a href="#" class="link-contrast">Gift Cards</a></li>
          <li><a href="#" class="link-contrast">New Action</a></li>
        </ul>
      </div>
      <div class='col-1'>
        <h3>Start renting!</h3>
        <ul class="list-layout">
          <li><a href="#" class="link-contrast">Why Rent</a></li>
          <li><a href="#" class="link-contrast">Environment</a></li>
          <li><a href="#" class="link-contrast">Experiences</a></li>
        </ul>
      </div>
    </div>
    <div class='seperator column text-center'>
      <h2 class='margin-below-1'>Join Us on</h2>
      <div class='smedialinks'>
      <i class="fa fa-facebook" aria-hidden="true"></i>
      <i class="fa fa-google-plus" aria-hidden="true"></i>
      <i class="fa fa-twitter" aria-hidden="true"></i>
      <i class="fa fa-linkedin" aria-hidden="true"></i>
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-pinterest-p" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <p class='copyright'>RentaClothe footer</p>
</footer>
