
<div class="clothes-index">
  <h1>Rent clothes!</h1>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <div class="row">
        <div class="col-xs-6 col-md-12 col-xs-offset-3 col-md-offset-0 filter_box_style">
          <%= search_form_for @search do |f| %>
            <div>
            <%= f.label :"Looking for :", :class => :"filter_input_style" %> <br>
            <%= f.search_field :name_cont, :class => :"filter_input_color" %>
            </div>

            <div>
              <%= f.label :"Brand :", :class => :"filter_input_style" %> <br>
              <%= f.search_field :brand_start, :class => :"filter_input_color" %>
            </div>

            <div>
              <%= f.label :"Size :", :class => :"filter_input_style" %> <br>
              <%= f.search_field :size_cont, :class => :"filter_input_color" %>
            </div> <br>

            <%= f.submit :class => :"btn btn-primary btn_search" %>
            <%= link_to "Reset", clothes_path, :class => :"btn btn-primary" %>
          <% end %>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-md-9">
      <div class="row">
        <% @clothes.each do |clothe| %>
          <div class="col-xs-6 col-sm-3 col-md-3">
           <%= render 'clothecard', clothe: clothe %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    <div class="footer_for_index">
    <%= link_to "Add a clothe", "clothes/new", :class => :"btn btn-primary btn_add"%>
    </div>
</div>






