
<div class="bannerindex" style="background-image: linear-gradient(100deg, rgba(240,240,240,0.6) 0%, rgba(240,240,240,0.6) 50%)">

<div> <br>
<h2 class="title">Chose a clothe to rent!</h2>
</div> <br> <br>

<div class="filter">
  <%= search_form_for @search do |f| %>
    <%= f.label :"Looking for :" %>
    <%= f.search_field :name_cont %>

    <%= f.label :"Brand :" %>
    <%= f.search_field :brand_start %>

    <%= f.label :"Size :"%>
    <%= f.search_field :size_cont %>

    <%= f.submit :class => :"btn btn-primary" %>
    <%= link_to "Reset", clothes_path, :class => :"btn btn-primary" %>
  <% end %>
</div>


<div class="container text-center">
  <% @clothes.each do |clothe| %>
    <div class="col-xs-12 col-md-4">
     <%= render 'clothecard', clothe: clothe %>
    </div>
  <% end %>
</div>

<br><br>
  <div class = "container text-center" >
    <p class= "btn btn-primary">You can also <%= link_to "add", "clothes/new"%> a clothe </p>
  </div>


</div>

