
<div class="bannerindex" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/1036856/pexels-photo-1036856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">

<div> <br>
<h2 class="title textwhite">Chose a clothe to rent!</h2>
</div> <br> <br>

<div class="filter">
<%= search_form_for @q do |f| %>

  <%= f.label :"Looking for :", :class => :"textwhite" %>
  <%= f.search_field :name_cont, :class => :"inputstyle"  %>

  <%= f.label :"Brand :", :class => :"textwhite" %>
  <%= f.search_field :brand_start, :class => :"inputstyle" %>

  <%= f.label :"Size :", :class => :"textwhite" %>
  <%= f.search_field :size_cont, :class => :"inputstyle" %>

  <%= f.submit :class => :"btn btn-primary" %>
  <%= link_to "Reset", clothes_path, :class => :"btn btn-primary" %>
  <% end %>
</div> <br> <br>


<div class="container text-center">
  <% @clothes.each do |clothe| %>
    <div class="col-xs-12 col-md-4">
     <%= render 'clothecard', clothe: clothe %>
  </div>
  <% end %>
</div>

<br><br>
  <div class = "container text-center" >
    <p class= "title-style textwhite">You can also <%= link_to "add", "clothes/new"%> a clothe </p>
  </div>

</div>
