<style>
@import url('https://fonts.googleapis.com/css?family=Allerta+Stencil');
</style>

    <%= simple_form_for(@clothe) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="bannernew" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/994517/pexels-photo-994517.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
      <div class="banner-content">
          <div>
            <h1>New Clothe to rent</h1>
            <%= f.input :name, label: 'Your clothe' %>
            <%= f.input :brand, label: 'The brand'  %>
            <%= f.input :size, :collection => ["S","M","L","XL","XXL"] %>
            <%= f.input :state, :collection => 1..5 %>
            <div> <br>
            <a><%= f.file_field :photo , label: 'Choose photo of your clothe'%></a>
            </div> <br>
             <%= f.button :submit, :class => :"btneo" %>
          </div> <br>
          <div>
            <%= link_to "Back", clothes_path, :class => :"btneo btnback" %>
          </div>
      </div>
    </div>
    <% end %>
