  <div class="container text-center">
    <div class = "box-white">
      <h1> <strong> <%= @clothe.name %> </strong> </h1>
      <br>
        <%= image_tag @clothe.photo, :alt => "shoe" %>
        <br><br>
          <% @clothe.state.times do %><i class="fas fa-star fa-xs"></i><% end %><% (5 - @clothe.state).times do %><i class= "far fa-star fa-xs"></i><% end %>
        <br><br>

       <strong>Size :</strong>
        <%= @clothe.size %>
        <br><br>
        <strong>Brand :</strong>
        <%= @clothe.brand %>
        <br><br>

        The owner's name is
        <%= @clothe.owner.first_name %>
        <%= @clothe.owner.last_name %>
        <br><br>

        <a class="btn btn-primary" href= "#">Rent it now!</a>
        <a class="btn btn-primary" href= "/clothes">Menu</a>
        <br>
      </div>
  </div>
