<div class="profile-background-size">

  <div class= "box-profile text-center">
   <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", id: "profile-image", :class => "user-image" %>
  </div>

  <div class= "box-white text-center">
    <h1> Hi <%= @user.first_name %> <%= @user.last_name %> </h1>
  </div>

  <div class= "box-profile text-center">
    <strong><h3> Your informations </h3></strong><br>
    <p><i class="far fa-envelope">  <%=@user.email %></i></p>
    <p><i class="fas fa-map-marker-alt"></i>   <%= @user.address %></p>
    <p><i class="fas fa-phone"></i>  <%= @user.phone %></p>
    <p><i class="fas fa-table"></i>  <%= @user.birth %></p>
    <button class="btn btn-primary" href="/clothes">Edit Profile</button>
</div>

